<div class="row">
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="filterUserName" placeholder="user name">
    </div>
  </div>
</div>
{{filterUserName}}
<div class="row">
  <div class="card" style="width: 18rem;" *ngFor="let user of users | filterUser:filterUserName">
    <div class="card-body">
      <h5 class="card-title">{{user.username}}</h5>
      <p class="card-text">{{user.email}}</p>
      <button  *ngIf="quantity > 1" (click)="decrement()">Decrement</button><input type="text" [(ngModel)]="quantity"><button (click)="increment()">Increment</button>
    </div>
  </div>
</div>
